@import '../../../../grid';

.album-card {
  display: block;
  position: relative;
  padding: 20px 22px 24px;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.3s ease;

  @include w992-block() {
    padding: 10px 10px 19px;
  }

  &:hover {
    background-color: #222427;
  }

  &__img {
    margin: auto;
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 0;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 1;
  }

  &__name {
    display: block;
    font-weight: 700;
    line-height: 1.1;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 0.3s ease;
    margin-top: 14px;
  }

  &__year {
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #696c6f;
  }

  &.thumbnail &__name,
  &.thumbnail &__year {
    font-size: 14px;
  }
}
