@import '../../../grid';

.album-page {
  &__item {
    @include size(24);
  }

  &__folder {
    max-width: 400px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;

    @include w768-block() {
      float: none;
      margin-left: 0;
      line-height: 1;
    }
  }

  &__year {
    display: block;
    font-weight: 700;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #696c6f;
  }

  &__song {
    line-height: 1.8;

    span,
    a {
      margin-left: 5px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid var(--hover-text);
    }
  }
}
